body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // background: linear-gradient(
  //   to bottom,
  //   #4285f4 0%,
  //   #4285f4 50%,
  //   #4285f4 50%,
  //   #7dd181 50%,
  //   #7dd181 100%
  // );
}
