.topNavIcon {
  padding: 0 5px 0 5px;
}

.iconText {
  @include bm(0, $b-mobile) {
    margin-top: 5px;
    font-size: 12px;
    font-style: normal;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.loginBtn {
  @include standard-btn;
  font-weight: 700;
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 0px;
}

.loginBtn:hover {
  background-color: rgba(5, 175, 117, 0.8);
  color: white;
}
