.adRow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include bm(500px, $b-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include bm(769px, $b-full) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;

  .adImage {
    height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .adInfo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    position: relative;

    .deleteAd {
      font-size: 40px;
      color: $c-red;
      position: absolute;
      top: 0;
      right: 0;
    }

    h1 {
      font-family: $Mont;
      color: $c-white;
      font-style: italic;
      font-weight: 700;
      font-size: 32px;

      span {
        background-color: $c-brown;
        padding: 0 10px;
      }
    }

    .adText {
      font-family: $Raleway;
      text-align: left;
      font-size: 22px;
    }
  }
}
