.adRow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 12.5vh;

  @include bm(500px, $b-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2.5vh;
    align-items: flex-start;
  }

  @include b(769px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include ad-card;
}
