@mixin primary-btn {
  background-color: $c-primary;
  font-family: $Mont;
  color: #ffffff;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  outline: none;
  cursor: pointer;
  transition: background-color 0.7s ease;

  &:hover {
    background-color: rgba(5, 175, 117, 0.8);
  }
}

@mixin standard-form {
  form {
    display: flex;
    flex-direction: column;

    .customCheckboxWrapper {
      display: inline-flex;
      flex-direction: row;
      margin-bottom: 10px;
      margin-top: 10px;

      h3 {
        font-family: $Raleway;
        margin-left: 5px;
      }

      input[type='checkbox'] {
        display: none;
      }

      input[type='checkbox']:checked ~ .customCheckbox {
        span {
          display: block;
        }
      }

      .customCheckbox {
        width: 20px;
        height: 20px;
        border: 2px solid $c-primary;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          width: 6px;
          height: 6px;
          background-color: $c-primary;
          display: none;
          border-radius: 100px;
        }
      }
    }

    label {
      input[type='text'],
      [type='number'],
      [type='email'],
      [type='password'] {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid $c-black;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 20px 0 20px 0;
        font-size: 14px;
        font-family: $open-sans;
        color: $c-black;
        box-shadow: inset 0 0 0 0 transparent;
        transition: all 0.4s ease;

        &:focus {
          border-bottom: 1px solid transparent;
          box-shadow: inset 0 -2px 0 0 $c-primary;
          transition: all 0.7s ease;
        }

        &::placeholder {
          font-size: 14px;
          font-family: $open-sans;
          font-style: italic;
          opacity: 0.5;
        }
      }
    }
  }
}

@mixin standard-title {
  h1 {
    font-size: 24px;
    color: $c-white;
    font-family: $Mont;
    font-weight: 700;
    font-style: italic;
    span {
      background-color: $c-primary;
      padding: 10px 10px;
    }
  }
}

@mixin standard-title-brown {
  h3 {
    font-size: 20px;
    color: $c-white;
    font-family: $Mont;
    font-weight: 700;
    font-style: italic;
    span {
      background-color: $c-brown;
      padding: 5px 5px;
    }
  }
}

@mixin standard-paragraph {
  p {
    font-family: $Raleway;
    text-align: left;
  }
}

@mixin ad {
  .adWrapper {
    overflow: hidden;
    height: 80vh;
    width: 100%;
    margin-top: 10px;

    @include b($b-mobile) {
      height: 200px;
      width: 100%;
      margin-top: 0px;
    }

    .adImage {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      transform: scale(1);
      transition: all 0.3s ease;

      @include b($b-mobile) {
        border: 1px solid #e8e8e8;
      }

      &:after {
        content: '';
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.3s ease;
      }

      &:hover {
        transform: scale(1.1);
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

@mixin ad-card-old {
  .ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    position: relative;
    border: 1px solid #e8e8e8;
    background-color: $c-white;

    .adImage {
      height: 450px;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }

    .adInfoWrapper {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      position: relative;

      .adInfo {
        padding: 0 10px;
      }

      .deleteAd {
        font-size: 40px;
        color: $c-red;
        position: absolute;
        top: 0;
        right: 10px;
      }

      h1 {
        font-family: $Mont;
        color: $c-white;
        font-style: italic;
        font-weight: 700;
        font-size: 32px;

        span {
          background-color: $c-brown;
          padding: 0 10px;
        }
      }

      h3 {
        font-family: $Mont;
        font-weight: 700;
        font-size: 22px;
      }

      .adText {
        font-family: $Raleway;
        text-align: left;
        font-size: 22px;
      }
    }

    .adShipping {
      display: flex;
      flex-direction: row;
      background-color: #fafafa;
      border-top: 1px solid #e8e8e8;

      .adShippingWrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 10px 0;

        &:last-child:after {
          height: 0%;
        }

        &:after {
          content: '';
          position: absolute;
          height: 70%;
          right: 0;
          top: 7px;
          width: 1px;
          background-color: #e8e8e8;
        }

        .shipping,
        .pickup {
          width: 40px;
          height: 40px;
          position: relative;

          .noShipping {
            font-size: 55px;
            color: red;
            position: absolute;
            top: -7px;
            left: -7px;
          }
        }
      }
    }
  }
}

@mixin ad-map-card {
  .ad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    background-color: $c-white;
    width: 100%;
    margin-bottom: 10vh;

    @include b(500px) {
      margin-top: 0px;
      margin-bottom: 0;
      width: 50%;
      min-height: 90vh;
    }

    .adImage {
      height: 200px;
      width: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }

    .adInfoWrapper {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      position: relative;

      .adInfo {
        padding: 0 10px;
      }

      .deleteAd {
        font-size: 40px;
        color: $c-red;
        position: absolute;
        top: 0;
        right: 10px;
      }

      h1 {
        font-family: $Mont;
        color: $c-white;
        font-style: italic;
        font-weight: 700;
        font-size: 32px;

        span {
          background-color: $c-brown;
          padding: 0 10px;
        }
      }

      h3 {
        font-family: $Mont;
        font-weight: 700;
        font-size: 22px;
      }

      p {
        font-family: $Raleway;
        text-align: left;
        font-size: 22px;
      }
    }

    .adShipping {
      display: flex;
      flex-direction: row;
      background-color: #fafafa;
      border-top: 1px solid #e8e8e8;
      width: 100%;

      @include b($b-mobile) {
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .adShippingWrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 10px 0;

        &:last-child:after {
          height: 0%;
        }

        &:after {
          content: '';
          position: absolute;
          height: 70%;
          right: 0;
          top: 7px;
          width: 1px;
          background-color: #e8e8e8;
        }

        .shipping,
        .pickup {
          width: 40px;
          height: 40px;
          position: relative;

          .noShipping {
            font-size: 55px;
            color: red;
            position: absolute;
            top: -7px;
            left: -7px;
          }
        }
      }
    }
  }
}

@mixin b($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin bm($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin size($size) {
  height: $size;
  width: $size;
}

@mixin trans($props...) {
  $unfoldedTransitions: ();

  @each $prop in $props {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($prop), comma);
  }

  transition: $unfoldedTransitions;
}

@function unfoldTransition ($prop) {
  $duration: 0.25s;
  $easing: $animation-transition;
  $defaultProperties: (
    $prop,
    $duration,
    $easing
  );

  $unfoldedTransition: ();
  @for $i from 1 through length($defaultProperties) {
    $p: null;
    @if $i <= length($prop) {
      $p: nth($prop, $i);
    } @else {
      $p: nth($defaultProperties, $i);
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
  }

  @return $unfoldedTransition;
}
