@mixin primary-btn {
  background:#73b99f;
  color:#FFFFFF;
  border:none;
  border-radius:10px;
  height:40px;
  padding:0 20px 0 20px;
  font-size:14px;
  font-weight:400;
  outline:none;
}

@mixin b($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin bm($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin size($size) {
  height: $size;
  width: $size;
}

@mixin trans($props...) {
  $unfoldedTransitions: ();

  @each $prop in $props {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($prop), comma);
  }

  transition: $unfoldedTransitions;
}

@function unfoldTransition ($prop) {
  $duration: 0.25s;
  $easing: $animation-transition;
  $defaultProperties: (
    $prop,
    $duration,
    $easing
  );

  $unfoldedTransition: ();
  @for $i from 1 through length($defaultProperties) {
    $p: null;
    @if $i <= length($prop) {
      $p: nth($prop, $i);
    } @else {
      $p: nth($defaultProperties, $i);
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
  }

  @return $unfoldedTransition;
}
