@mixin primary-btn {
  background-color: rgba(125, 209, 129, 1);
  color: #ffffff;
  border: none;
  height: 40px;
  padding: 0 20px 0 20px;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

@mixin standard-btn {
  font-family: $Mont;
  font-style: italic;
  text-transform: lowercase;
  background-color: $c-primary;
  margin: 0 20px;
}

@mixin b($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin mobile($max-lang) {
  @media only screen and (max-width: $max-lang) {
    @content;
  }
}

@mixin bm($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin size($size) {
  height: $size;
  width: $size;
}

@mixin trans($props...) {
  $unfoldedTransitions: ();

  @each $prop in $props {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($prop), comma);
  }

  transition: $unfoldedTransitions;
}

@function unfoldTransition ($prop) {
  $duration: 0.25s;
  $easing: $animation-transition;
  $defaultProperties: (
    $prop,
    $duration,
    $easing
  );

  $unfoldedTransition: ();
  @for $i from 1 through length($defaultProperties) {
    $p: null;
    @if $i <= length($prop) {
      $p: nth($prop, $i);
    } @else {
      $p: nth($defaultProperties, $i);
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
  }

  @return $unfoldedTransition;
}
