// Colors
$c-primary: rgba(5, 175, 117, 1);
$c-white: #fff;
$c-black: #222;
$c-brown: rgba(136, 68, 1, 0.7);
$c-red: #d9534f;

$c-border: #e8e8e8;

$c-lightgray: #fafafa;

$c-altprimary: #c9ffe2;

// Size

// Breakpoints
$b-mobile: 450px;
$b-mobileS: 320px;
$b-mobileM: 375px;
$b-tablet: 800px;
$b-modal-tablet: 600px;
$b-tablet-menu: 1000px;
$b-full: 1400px;
$b-mobile-menu: 780px;

// Ease
$animation-transition: cubic-bezier(1, -0.02, 0.695, 0.79);
$animation-hero: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$animation-time: 0.65s;
