// Colors
$c-primary: #7dd181;
$c-secondary: #ffffff;
$c-black: #222;

$c-altprimary: #c9ffe2;

// Size

// Breakpoints
$b-mobile: 450px;
$b-tablet: 800px;
$b-modal-tablet: 600px;
$b-tablet-menu: 1000px;
$b-full: 1400px;
$b-mobile-menu: 780px;

// Ease
$animation-transition: cubic-bezier(1, -0.02, 0.695, 0.79);
$animation-hero: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$animation-time: 0.65s;
