.modal {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #fbfbfb;
  border-radius: 2px;
  width: 100%;
  padding: 50px 20px 20px 20px;
  margin-right: 100px;

  .leaf {
    height: 60px;
    width: 60px;
    position: absolute;
    top: -30px;
  }

  .switch {
    display: flex;
    flex-direction: row;
    width: 100%;

    .signUp {
      width: 50%;
      @include primary-btn;
      transition: all 0.5s ease;
    }
    .signIn {
      width: 50%;
      @include primary-btn;
      transition: all 0.5s ease;
    }

    .hidden {
      background-color: rgba(125, 209, 129, 0.5);
      transition: all 0.5s ease;
    }
    .active {
      transition: all 0.5s ease;
    }
  }
}
