.modal {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #fbfbfb;
  border-radius: 2px;
  width: 450px;
  padding: 50px 20px 20px 20px;
  margin-right: 100px;

  .leaf {
    height: 60px;
    width: 60px;
    position: absolute;
    top: -30px;
  }

  button {
    @include primary-btn;
  }

  .switch {
    display: flex;
    flex-direction: row;
    width: 100%;

    .signUp {
      width: 50%;
      border-radius: 0px;
      background-color: rgba(125, 209, 129, 0.5);
    }
    .signIn {
      width: 50%;
      border-radius: 0px;
    }
  }

  label {
    input {
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid $c-black;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px 0 20px 0;
      font-size: 14px;
      font-family: $open-sans;
      color: $c-black;
      box-shadow: inset 0 0 0 0 transparent;
      transition: all 0.4s ease;

      &:focus {
        border-bottom: 1px solid transparent;
        box-shadow: inset 0 -2px 0 0 $c-altprimary;
        transition: all 0.7s ease;
      }

      &::placeholder {
        font-size: 14px;
        font-family: $open-sans;
        font-style: italic;
        opacity: 0.5;
      }
    }
  }
}
