.container {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  padding-bottom: 10vh;
  @include b($b-mobile) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .adContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid $c-border;
    border-bottom: 1px solid $c-border;
    @include b($b-mobile) {
      border: 1px solid $c-border;
    }

    @include b($b-mobile) {
      width: 60%;
    }
    .adHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      background-color: $c-white;
      padding: 10px;
      position: relative;

      .deleteAdLink {
        position: absolute;
        right: 10px;
        top: 14px;

        .deleteAd {
          font-size: 30px;
          color: red;
        }
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
      }
      @include standard-title-brown;

      h3 {
        margin: 0 0 0 10px;
      }
    }

    .adImage {
      width: 100%;
      height: 50vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .adInfo {
      background-color: $c-white;
      padding-left: 10px;
      padding-bottom: 10px;

      h1 {
        font-family: $Raleway;
        margin-top: 10px;
        margin-bottom: 0px;
      }

      h2 {
        font-family: $Raleway;
        margin-top: 0px;
      }

      p {
        @include standard-paragraph;
      }

      .adIcons {
        display: flex;
        flex-direction: row;
        .Icon {
          width: 35px;
          height: 35px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          margin-right: 10px;
        }
        .IconDisabled {
          width: 35px;
          height: 35px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          margin-right: 10px;
          filter: grayscale(1);
        }
      }
    }
  }
}
