.profileInfoWrapper {
  display: flex;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .profilePic {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .profileInfo {
    display: flex;
    flex-direction: column;
    padding-left: 40px;

    h3 {
      font-family: $Raleway;
      color: white;
      font-weight: 700;
      font-style: italic;
      span {
        display: inline-block;
        background-color: $c-primary;
        padding: 5px;
      }
    }

    .socialMedia {
      display: flex;
      flex-direction: row;

      .twitter,
      .instagram {
        height: 25px;
        width: 25px;
        margin-right: 5px;
      }
    }
  }
}

.adsWrapper {
  margin-top: 70px;

  .adslang {
    .hora {
      height: 200px;
      background-color: red;
    }
  }
}
