.container {
  padding-top: 5px;
  button {
    width: 100%;
    position: relative;
    background-color: rgba(66, 133, 244, 1) !important;
    @include primary-btn;

    span {
      position: absolute;
      left: -14px;
      top: -12px;
      width: 60px;
      height: 60px;
    }
  }
}
