.mapContainer {
  padding-top: 10vh;
  transition: all 0.4s ease;

  @include b($b-mobile) {
  }
  @include b(500px);
  padding-top: 0vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include b($b-mobile) {
    flex-direction: row;
  }

  @include b(500px) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  @include ad-map-card;
}

.ad {
  .adClose {
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
