.signUp {
  button {
    width: 100%;
    @include primary-btn;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin-top: 20px;
  }

  .leaf {
    height: 40px;
    width: 40px;
  }
  @include standard-form;
}

.SignUpForm {
  display: flex;
  flex-direction: column;
}
