.socialMedia {
  display: flex;
  flex-direction: row;

  .instagram {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .twitter {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
