// @import 'variables';
// @import 'mixins';
// @import './resources/variables';
// @import './resources/mixins';

.container {
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $c-lightgray;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
