.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 200px;
  height: 10vh;
  position: relative;
}

.links {
  color: $c-black;
  text-decoration: none;
  font-size: 18px;
  font-family: $Mont;
  margin: 0 15px 0 15px;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  font-style: italic;
  transition: all 0.7s ease;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 130%;
    transition: all 0.7s ease;
  }
  :visited {
    color: $c-black;
  }
}

.links:hover {
  & span {
    background-color: $c-primary;
    font-style: italic;
    color: white;
    transition: all 0.5s ease;
  }
}

.loginBtn {
  @include standard-btn;
}

.loginBtn:hover {
  background-color: rgba(5, 175, 117, 0.7);
}
