.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: relative;

  .companyName {
    position: absolute;
    left: 40px;
    top: 35px;
    font-family: $Raleway;
    color: $c-primary;
  }
}

.links {
  color: $c-black;
  text-decoration: none;
  font-size: 18px;
  font-family: $Raleway;
  padding: 0 10px 0 10px;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  :visited {
    color: $c-black;
  }
}

.links:hover {
  &:after {
    width: 100%;
    transition: all 0.5s ease;
  }
}

.links:after {
  content: '';
  position: relative;
  height: 1px;
  width: 0%;
  background-color: $c-black;
  transition: all 0.5s ease;
}

ul {
  list-style: none;
}
